
<% category.children.each do |sub| %>
  <% cache sub do %>
    <h4>
      <%= link_to sub.title, "/category/#{sub.id}"%>
    </h4>
    <ul>
      <li> <%= render 'include/menu/menu', category: sub, cached: true %> <br></li>
    </ul>
  <% end %>
<% end %>

